<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>hello world</h1>
        <a href="{% url 'about' %}">about</a>
    </body>
</html> -->

{% extends 'base.html' %}
{% block title %}درباره ما{% endblock %}
{% block content %}
    <h1>درباره ما</h1>
    <p>ما تیمی از توسعه‌دهندگان Django هستیم.</p>
{% endblock %}